<div class="col-md-3">
    <div class="dash-left">
        <ul>
            <li class="active"><a href="/admin/dashboard" class="active">Dashboard</a></li>
            <li><a href="/admin/blog/display">Blogs</a></li>
            <li><a href="/admin/category/display">Categories</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>   
</div>