<%- include('./partials/header.ejs') %>
    <section class="login-wrap mtb-40">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-6">
                    <div class="login-box">
                        <h1>Login</h1>
                        <form action="/verifylogin" method="post">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="Password">
                            </div>
                            <% if(message.length>0){%>
                               <div class="alert alert-success text-center">
                                <%= message%>
                               </div>
                            <%} %>
                            <% if(message1.length>0){%>
                                <div class="alert alert-danger text-center">
                                 <%= message1%>
                                </div>
                             <%} %>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">SignIn</button>
                                <p class="d-inline ml-5">
                                    DON`T HAVE AN ACCOUNT?<a href="/admin/register"> SignUp NOW</a>
                                  </p>
                            </div>
                        </form>
                    </div>         
                </div>
    		</div>
    	</div>
    </section>
    <%- include('./partials/footer.ejs') %>